<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<li class="dropdown dropdown-user" layout:fragment="header-user-login-dropdown">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <img alt="" class="img-circle" th:src="@{/static/img/avatar3_small.jpg}" />
        <span class="username username-hide-on-mobile"> Nick </span>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-default">
        <li>
            <a href="page_user_profile_1.html">
                <i class="icon-user"></i> My Profile </a>
        </li>
        <li class="divider"> </li>
        <li>
            <a href="page_user_lock_1.html">
                <i class="icon-lock"></i> Lock Screen </a>
        </li>
        <li>
            <a href="page_user_login_1.html">
                <i class="icon-key"></i> Log Out </a>
        </li>
    </ul>
</li>
</body>
</html>