<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- BEGIN FOOTER -->
<div class="page-footer" th:fragment="footer">
    <div class="page-footer-inner"> 2018 &copy;
        <a target="_blank" href="http://www.telkomsigma.co.id">Telkomsigma</a> &nbsp;|&nbsp;
        <a href="https://gitlab.com/KNIGHTMASTER/tgf" title="Telkomsigma GUI Framework" target="_blank">TGF</a>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
</body>
</html>